@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Momo+Trust+Display&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url(/css/index.css);

.header-index {
    background-image: url(/img/header-prevencion.jpg);
}

.section-interesar {
    background-image: url(/img/interesate-prevencion.jpg);
}

@media screen and (max-width:500px) {
    .main-contenido {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .info-imagen {
        flex-direction: column;
    }
    .img-box {
        width: 300px;
        height: auto;
    }
    .info-imagen-imagen {
        margin-bottom: 40px;
    }
    .titulo-header {
        font-size: 40px;
    }
    .div-adv {
        padding-left: 30px;
        padding-right: 30px;
    }
    .adv {
        font-size: 13px;
    }
    .interesate-contenido {
        margin: 30px;
    }
}