@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Momo+Trust+Display&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url(/css/index.css);

.header-index {
    background-image: url(/img/header-sintomas.png);
}

.section-interesar {
    background-image: url(/img/interesate-sintomas.png);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interesate-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 200px;
}

.adv {
    font-size: 15px; 
    padding: 0px; 
    font-weight: bolder;
}

@media screen and (max-width:500px) {
    .main-contenido {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .info-imagen {
        flex-direction: column;
        gap: 0px;
    }
    .img-box {
        width: 300px;
        height: auto;
    }
    .info-imagen-imagen {
        margin-top: 40px;
    }
    .titulo-header {
        font-size: 40px;
    }
    .div-adv {
        padding-left: 30px;
        padding-right: 30px;
    }
    .adv {
        font-size: 13px;
    }
    .interesate-contenido {
        margin: 30px;
    }
    
}

@media screen and (max-width:320px) {
    .main-contenido {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    .info-parrafo{
        font-size: 15px;
    }
    .info-imagen {
        flex-direction: column;
    }
    .img-box {
        width: 300px;
        height: auto;
    }
    .info-imagen-imagen {
        margin-bottom: 40px;
    }
    .titulo-header {
        font-size: 30px;
    }
    .div-adv {
        padding-left: 30px;
        padding-right: 30px;
    }
    .adv {
        font-size: 10px;
    }
    .interesate-contenido {
        margin: 30px;
    }
    .subtitulo-header {
        font-size: 15px;
    }
    .main-titulos {
        font-size: 25px;
    }
}