@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Momo+Trust+Display&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url(/css/index_copy.css);

.header-index {
    background-image: url(/img/header-tratamientodp.jpg);
}

.section-interesar {
    background-image: url(/img/interesate-tratamiendodp.jpg);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-parrafo span {
    font-weight: bolder;
}

.info-parrafo a {
    color: black;
}

.vd-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:500px) {
    .header-index {
        background-image: url(/img/header-tratamientodpmobile.jpg);
    }
    .section-interesar {
        background-image: url(/img/interesate-tratamiendodpmobile.jpg);
    }
}